<p style="color: green"><%= notice %></p>

<% content_for :title, "Pet foods" %>

<h1>Pet foods</h1>

<div id="pet_foods">
  <% @pet_foods.each do |pet_food| %>
    <%= render pet_food %>
    <p>
      <%= link_to "Show this pet food", pet_food %>
    </p>
  <% end %>
</div>

<%= link_to "New pet food", new_pet_food_path %>
