<% content_for :title, "Editing vaccination schedule" %>

<h1>Editing vaccination schedule</h1>

<%= render "form", vaccination_schedule: @vaccination_schedule %>

<br>

<div>
  <%= link_to "Show this vaccination schedule", @vaccination_schedule %> |
  <%= link_to "Back to vaccination schedules", vaccination_schedules_path %>
</div>
