<% content_for :title, "New vaccination schedule" %>

<h1>New vaccination schedule</h1>

<%= render "form", vaccination_schedule: @vaccination_schedule %>

<br>

<div>
  <%= link_to "Back to vaccination schedules", vaccination_schedules_path %>
</div>
