<% content_for :title, "Editing frequency" %>

<h1>Editing frequency</h1>

<%= render "form", frequency: @frequency %>

<br>

<div>
  <%= link_to "Show this frequency", @frequency %> |
  <%= link_to "Back to frequencies", frequencies_path %>
</div>
