<p style="color: green"><%= notice %></p>

<% content_for :title, "Medication schedules" %>

<h1>Medication schedules</h1>

<div id="medication_schedules">
  <% @medication_schedules.each do |medication_schedule| %>
    <%= render medication_schedule %>
    <p>
      <%= link_to "Show this medication schedule", medication_schedule %>
    </p>
  <% end %>
</div>

<%= link_to "New medication schedule", new_medication_schedule_path %>
