<div id="<%= dom_id vaccine %>">
  <p>
    <strong>Name:</strong>
    <%= vaccine.name %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= vaccine.frequency_id %>
  </p>

  <p>
    <strong>Mandatory:</strong>
    <%= vaccine.mandatory %>
  </p>

</div>
