<p style="color: green"><%= notice %></p>

<% content_for :title, "Checks schedules" %>

<h1>Checks schedules</h1>

<div id="checks_schedules">
  <% @checks_schedules.each do |checks_schedule| %>
    <%= render checks_schedule %>
    <p>
      <%= link_to "Show this checks schedule", checks_schedule %>
    </p>
  <% end %>
</div>

<%= link_to "New checks schedule", new_checks_schedule_path %>
