<% content_for :title, "New checks schedule" %>

<h1>New checks schedule</h1>

<%= render "form", checks_schedule: @checks_schedule %>

<br>

<div>
  <%= link_to "Back to checks schedules", checks_schedules_path %>
</div>
